
footer{
	position: relative;
	width: 100%;
	padding: 40px 10vw;
	padding-bottom: 80px;
	background: #383838;
	height: 500px
}

.footer-content{
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.big-logo{
	height: 300px
}

.tiktok{
	height: 100px
	width: 45%;
}

.footer-ul-container{
	width: 45%;
	display: flex;
	justify-content: space-between;
}


.category-title{
	grid-column: span 2;
	text-transform: capitalize;
	color: #f5f5f5;
	font-size: 50px;
	margin-bottom: 15px;
	font-family: monospace;
	font-weight: 10px;
	color: #f5f5f5;
}

.footer-link{
	text-decoration: none;
	text-transform: capitalize;
	font-size: 22px;
	font-family: monospace;
	color: rgba(255, 255, 255, 0.75);
}

.footer-link:hover{
	color: #F5F5F5;
}

.info{
	color: rgba(255, 255, 255, 0.75);
	margin: 20px 0;
	text-transform: capitalize;
	font-family: monospace;
}