@import 'nav1.css';
@import 'footer1.css';

.product{
	position: relative;
	overflow: hidden;
	padding: 20px 0;
}

.product-category{
	padding: 0 10vw;
	font-size: 30px;
	font-weight: 1000;
	margin-bottom: 40px;
	text-transform: capitalize;
	font-family: monospace;
	color: #383838;
}


.product-container{
	padding: 0 2vw;
	display: flex;
	overflow-x: auto;
	scroll-behavior: smooth;
}

.product-container:-webkit-scrollbar{
	display: none;
}

.product-card{
	flex: 0 0 auto;
	width: 450px;
	height: 450px;
	margin-right: -150px;
}

.product-image{
	position: relative;
	width: 60%;
	height: 290px;
	overflow: hidden;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px; 

}

.product-thumb{
	width: 100%;
	height: 350px;
	object-fit: cover;
}

.discount-tag{
	position: absolute;
	background: #fff;
	padding: 5px;
	color: #ff7d7d;
	right: 10px;
	top: 10px;
	text-transform: capitalize;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px; 
}

.card-btn{
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	padding: 10px;
	width: 90%;
	text-transform: capitalize;
	border: none;
	outline: none;
	background: #d1d1d1;
	border-radius: 5px;
	transition: 0.5s;
	cursor: pointer;
	opacity: 0;
}

.product-card:hover .card-btn{
	opacity: 1;
}

.card-btn:hover{
	background:#C0BFBF; 
}

.product-info{
	width: 100%;
	height: 100px;
	padding-top: 10px;
}

.product-name{
	text-transform: capitalize;
}

.product-short-des{
	width: 100%;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	opacity: 0.5;
	text-transform: capitalize;
	margin: 5px 0;
}

.price{
	font-weight: 900;
	font-size: 15px;
}

.actual-price{
	margin-left: 15px;
	font-size: 14px;
	opacity: 0.5;
	text-decoration: line-through;
}

.footer{
	position: relative;
	width: 100%;
	padding: 40px 10vw;
	padding-bottom: 80px;
	background: #383838;
}

.footer-content{
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.footer-content .logo{
	height: 160px
}